[submodule "backend"]
	path = backend
	url = git@github.com:parismay-code/rudis-backend.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = git@github.com:parismay-code/rudis-frontend.git
	branch = master
